{"types":
    {"0": "unknown",
     "1": "running",
     "2": "alpine skiing",
     "3": "cycling",
     "4": "hiking",
     "5": "indoor cycling",
     "6": "walking",
     "7": "cross country skiing",
     "8": "swimming",
     "9": "kayaking",
     "10": "cannoning",
     "11": "ice skating"
     }
}