{"runtastic": [
                {"sports_type": "running",
                 "id": "1",
                 "map_types": "1"},
                {"sports_type": "alpine-skiing",
                 "id": "2",
                 "map_types": "2"},
                {"sports_type": "cycling",
                 "id": "3",
                 "map_types": "3"},
                {"sports_type": "mountainbike",
                 "id": "4",
                 "map_types": "3"},
                {"sports_type": "hiking",
                 "id": "7",
                 "map_types": "4"},
                {"sports_type": "indoor cycling",
                 "id": "15",
                 "map_types": "3"},
                {"sports_type": "unknown",
                 "id": "19",
                 "map_types": "0"},
                {"sports_type": "unknown",
                 "id": "30",
                 "map_types": "0"}
              ],
 "strava": [
            {"sports_type": "Ride",
             "id": "Ride",
             "map_types": "3"},
            {"sports_type": "Run",
             "id": "Run",
             "map_types": "1"},
            {"sports_type": "Swim",
             "id": "Swim",
             "map_types": "8"},
            {"sports_type": "Walk",
             "id": "Walk",
             "map_types": "6"},
            {"sports_type": "Hike",
             "id": "Hike",
             "map_types": "4"},
            {"sports_type": "Alpine Ski",
             "id": "AlpineSki",
             "map_types": "2"},
            {"sports_type": "Backcountry Ski",
             "id": "Backcountry Ski",
             "map_types": "7"},
            {"sports_type": "Canoe",
             "id": "Canoe",
             "map_types": "10"},
            {"sports_type": "E-Bike Ride",
             "id": "E-Bike Ride",
             "map_types": "3"},
            {"sports_type": "Ice Skate",
             "id": "IceSkate",
             "map_types": "11"},
            {"sports_type": "Kayak",
             "id": "Kayak",
             "map_types": "9"}
             ]
}











